@charset "UTF-8";

body{
    background-image: url('Imagens/HD\ wallpaper_\ God\ of\ War\,\ God\ of\ War\ \(2018\)\,\ Kratos\,\ water\,\ nautical\ vessel.jfif');
    background-repeat: no-repeat;
    background-size: 100%;
}